.App {
  text-align: center;
}

.App-header {
  background-color: #100101;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: rgb(125, 240, 10);
}
